name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install nextest
      uses: taiki-e/install-action@nextest
    - name: Build
      run: cargo build --all-features --verbose
    - name: Run tests
      run: cargo nextest run --all-features
    - name: Run doc tests
      run: cargo test --doc --all-features
